*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*  */
}

.container{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav .logo{
    color: rgb(239, 131, 23);
    font-size: 40px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 40px;
    cursor: pointer;
}



nav{
    height: 70px;
    background: #ffffff;
    box-shadow: 0 3px 15px rgba(0,0,0,1);
    opacity: 0.6;
}

nav ul{
    margin-right: 30px;
    /* margin-left: 200px; */
}

nav ul li{
    display: inline-block;
}

nav ul li a.active,
nav ul li a:hover
{
    color: #fe7a15;
    /* border: .1rem solid rgba(205, 0, 0, 1.0); */
}

nav ul li a{
    color: rgb(12, 12, 12);
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #ffffff;
    letter-spacing: 2px;
    transition: .5s;
}

nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #f8b02a;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}

nav ul ul li {
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul {
    border-top: none;
}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
} 


.sb-btn {
    opacity: 1;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    transform: scale(1);
    height: 55px;
    letter-spacing: 0;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #F5C332;
    transition: 0.3s ease-in-out;
}

.sb-btn:hover {
    background-color: rgb(230, 144, 40);
}

a {
    text-decoration: none;
    color: inherit;
}

.sb-btn.sb-btn-2.sb-btn-gray {
    background-color: transparent;
}


/* Second Slide */

.sb-mb-60 {
    margin-bottom: 60px !important;
}


.sb-features-item {
    display: flex;
    position: relative;
    z-index: 2;
}

.sb-features-item .sb-number {
    min-width: 62px;
    margin-right: 30px;
    font-family: 'Monoton', cursive;
    color: #F5C332;
    font-size: 42px;
    line-height: 36px;
}

.sb-mb-15 {
    margin-bottom: 15px !important;
}
.sb-h3, h3 {
    line-height: 120%;
    font-size: 22px;
    letter-spacing: -1px;
}

.sb-text {
    color: #6F6F87;
    margin: 0;
    font-size: 20px;
}
ul li {
    list-style-type: none;
}

.inthover{
    transition: 2s ease;
    }
    
    .inthover:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

/* Third Slide */

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.sb-categorie-card {
    display: block;
    background-color: #F9FAFC;
    box-shadow: 0 0 0 2px #ffffff;
}
.sb-mb-30 {
    margin-bottom: 30px !important;
}

.sb-categorie-card.sb-categorie-card-2 .sb-card-body {
    text-align: left;
    display: flex;
    align-items: center;
}

.sb-categorie-card.sb-categorie-card-2 .sb-card-body .sb-category-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 0;
}

.sb-categorie-card.sb-categorie-card-2 .sb-card-body .sb-category-icon img {
    width: 60px;
}

.sb-categorie-card.sb-categorie-card-2 .sb-card-body .sb-card-descr {
    padding-left: 30px;
}


.sb-mb-10 {
    margin-bottom: 10px !important;
}
.sb-h3, h3 {
    line-height: 120%;
    font-size: 22px;
    letter-spacing: -1px;
}
.sb-h1, .sb-h2, .sb-h3, .sb-h4, .sb-h5, .sb-h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.sb-categorie-card.sb-categorie-card-2 .sb-card-body .sb-category-icon:before {
    content: "";
    /* background-color: #F5C332; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -5px;
    left: 15px;
}
.sb-categorie-card.sb-categorie-card-2 .sb-card-body .sb-category-icon:before {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: 15px;
}
.sb-categorie-card .sb-card-body .sb-category-icon:before {
    content: "";
    /* background-color: #F5C332; */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -15px;
    left: 25px;
    transition: 0.3s ease-in-out;
}

.sb-categorie-card {
    display: block;
    background-color: #F9FAFC;
    box-shadow: 0 0 0 2px #ffffff;
}

/* .sb-category-icon:hover, .sb-category-icon:active {font-size: 150%;} */

.sb-category-icon{
    transition: 1s ease;
    }
    
    .sb-category-icon:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

    .inthover1 {
        transition: 1s ease;
        }
        
        .inthover1:hover{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition: 1s ease;
        }

.inthover2{
    transition: 2s ease;
    }
            
    .inthover2:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
    }

    